* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #333;
    text-align: center;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;

    h1 {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
            a {
                color: white;
                text-decoration: none;
                font-size: 18px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20px;

        li {
            a {
                color: white;
                text-decoration: none;
                font-size: 18px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    h2 {
        margin: 10px 0;
        font-size: 24px;
    }

    p {
        font-size: 18px;
        color: #555;
        text-align: start;
    }

    section {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 18px;
            color: #555;
            font-weight: bold;
        }
    }
}

.list-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.basket-button {
    background-color: #ffffff;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;

    &:hover {
        background-color: #e7e7e7;
    }

    svg {
        width: 20px;
        height: 20px;
        color: white;
    }
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    input {
        padding: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;

        &:hover {
            background-color: #555;
        }
    }
}

.container-border {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 20px;
        font-size: 18px;
        color: #555;
        text-align: center;
    }
}